*{
  font-family: Montserrat, sans-serif;
  background: rgb(255, 255, 255);
}

h1{
  color: red;
  font-family: 'Permanent Marker', cursive;
}

h2{
  text-decoration: underline;

}

body{
  text-align: center;
}
.content{
  display: flex;
  flex-wrap: nowrap;
}


.howto {
  text-align: left;
  width: 40%;
    margin: auto;
}

ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}
ol li {
  counter-increment: my-awesome-counter;
}
ol li::before {
  content: counter(my-awesome-counter) ". ";
  color: red;
  font-weight: bold;
}

#status {
  font-family: 'Courier New', Courier, monospace;
  text-size: 30px;
  color: rgb(252, 74, 74);
}

div{
  margin: 0px;
  padding: 0px;
}

img{
  height: 256px;
  width: 256px;
  box-shadow: none !important;
}

button{
  padding: 5px 9px;
  border: 1px solid black;
  margin: 0px 5px 0px 0px;
}

#app{
  margin: 0px 0px 20px 0px;
}

#input{
  display: inline;
}

canvas{
  border: 1px solid rgb(224, 224, 224);
}

#output{
  border: 1px solid rgb(224, 224, 224);
  height: 256px;
  width: 256px;
}

#colors div{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0px 20px 10px 0px;
  display: inline-block;
}

#green{
  background: rgb(203, 222, 174);
}

#black{
  background: rgb(0, 0, 0);
}
#pink{
  background: rgb(255, 163, 244);
}

#white{
  background: white;
  border: 1px solid rgb(236, 236, 236);
}
